numpy
scipy
pandas
scikit-learn
torch
matplotlib
tqdm
seaborn

# Google Cloud Platform
google-cloud-storage
google-cloud-aiplatform
google-auth
google-auth-oauthlib
google-auth-httplib2

# Optional: For advanced features
simphony
gdsfactory
gdstk